.home {
    text-align: center;
    padding: 20px;
    max-width: 100%;
    position: relative;
    background-image: url('public/img/bg_image.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.welcome {
    position: relative;
    z-index: 999;
}

/* Overlay blanc avec opacité */

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.product-list-home {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    justify-items: center;
    width: 100%;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 1445px) {
    .product-list-home {
        grid-template-columns: repeat(5, 1fr);
    } 

    .product-card {
        width: 65%;
    }
}

@media screen and (max-width: 1200px) {
    .product-list-home {
        grid-template-columns: repeat(4, 1fr);
    } 

    .product-card {
        width: 65%;
    }
}

@media screen and (max-width: 800px) {
    .product-list-home {
        grid-template-columns: repeat(3, 1fr);
    } 

    .search-bar input {
        width: 75%;
    }
}

@media screen and (max-width: 426px) {
    .product-list-home {
        grid-template-columns: repeat(1, 1fr);
    } 

    .product-card {
        width: 65%;
    }

    .product-card img {
        width: 100%;
    }
}
