.home {
    text-align: center;
    padding: 20px;
    max-width: 100%;
}

.product-list-home {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    justify-items: center;
    width: 100%;
}