.productPage-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    max-width: 100%;
    height: 100vh;
    position: relative;
    background-image: url('public/img/bg_image.webp');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.productPage-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.productPage-card img {
    max-width: 95%;
    height: auto;
}

.productPage-card h2 {
    font-size: 2rem;
    margin: 10px 0;
}

.productPage-card p {
    font-size: 1.2rem;
    margin: 10px 0;
}

.add-to-cart-btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff99cc;
    border-radius: 0.5em;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.add-to-cart-btn:hover {
    background-color: #fd49a3;
}

.productPage-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    border: 1px solid grey;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    width: 25%;
    height: 60vh;
    background-color: #fff7e6;
    color: #ff66aa;
    font-weight: 900;
    z-index: 2;
}

.productPage-card img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 5px;
}

.quantity-control {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.quantity-control button {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-bottom: 20px;
}

.quantity-control input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    text-align: center;
    margin: 0 10px;
    font-size: 1.2rem;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.quantity-control button:hover {
    background-color: #e0e0e0;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .productPage-container {
        flex-direction: column;
    }

    .productPage-card {
        width: 50%;
        height: 40vh;
    }

    .productPage-card img {
        height: 10vh;
        object-fit: contain;
    }
}

@media screen and (max-width: 480px) {
    .modal-content {
        width: 95%;
        padding: 15px;
    }

    .modal-content input {
        width: 100%;
    }

    .modal-content button {
        width: 100%;
    }
}