.search-page {
    padding: 30px;
    text-align: center;
}

.search-page h1 {
    margin-bottom: 50px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    justify-content: center;
}

.product-card {
    text-decoration: none;
    color: black;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}