.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 3;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.carousel-item {
    text-align: center;
    width: 65%;
}

.carousel-item img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease-in-out;
}

.carousel-item p {
    margin-top: 10px;
    font-size: 18px;
}

.carousel-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
}

.prev {
    left: 25%;
}

.next {
    right: 25%;
}

.carousel-loading {
    text-align: center;
    font-size: 18px;
    padding: 20px;
}

@media screen and (max-width: 1024px) {
    .carousel-item img {
        height: 40vh;
    }
    
}

@media screen and (max-width: 425px) {
    .carousel-item img {
        height: 40vh;
        width: 100%;
    }
    
}