.search-bar {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    padding: 20px;
}

.search-bar input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-bar select {
    width: 35%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-results {
    position: absolute;
    background: white;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.search-item {
    display: flex;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #ddd;
}

.search-item img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.search-item:hover {
    background: #f8f8f8;
}

@media screen and (max-width: 768px) {
    .search-bar {
        flex-direction: column;
        gap: 20px;
    }

}

@media screen and (max-width: 450px) {

    .search-bar {
        padding: 0;
    }

    .search-bar select {
        width: 60%;   
    }

}