.navbar {
    display: flex;
    justify-content: space-between;
    background: pink;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    margin: 0 10px;
    color: black;
}

.navbar a:hover {
    text-decoration: underline;
}